<div class="main-bg m-height ">



  <div class=" row mb-3">
    <div class="col-md-8 mt-5 ml-5">
      <p class="h1" translate>COMPANY.ONE.TITLE</p>
      <p class="" translate>COMPANY.ONE.TEXT</p>
    </div>
  </div>

  <div class=" row mb-3">
    <div class="col-md-8 ml-5">
      <p class="h1" translate>COMPANY.TWO.TITLE</p>
      <p class="" translate>COMPANY.TWO.TEXT</p>
    </div>
  </div>

  <div class=" row mb-3">
    <div class="col-md-8 ml-5">
      <p class="h1" translate>COMPANY.THREE.TITLE</p>
      <p class="" translate>COMPANY.THREE.TEXT</p>
    </div>
  </div>

  <div class=" row mb-3">
    <div class="col-md-8 ml-5 ">
      <p class="h1" translate>COMPANY.FOUR.TITLE</p>
      <p class="" translate>COMPANY.FOUR.TEXT</p>
    </div>
  </div>

  <div class=" row mb-3">
    <div class="col-md-8 ml-5 ">
      <p class="h1" translate>COMPANY.FIVE.TITLE</p>
      <p class="" translate>COMPANY.FIVE.TEXT</p>
    </div>
  </div>

</div>
